@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.header {
  text-decoration: none;
  color: black;
  font-family: 'Kalam', cursive;
}

#header {
  margin-left: 100px;
  margin-bottom: 50px;
}

.navbar {
  border-bottom: black;
  border-style: solid;
  border-width: 1px;
}