#list-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  text-decoration: none;
  color:black;
}

.product-div {
  display: flex;
  padding: 20px;
  margin: 10px 50px 60px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 1px #cecece;
  transition: all .25s;
}

#img {
  height: 300px;
}

form {
  display: flex;
  justify-content: center;
}

#search {
  width: 70vw;
  font-size: 18px;
  letter-spacing: .1px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 40px;
}

.sort-form {
  display: flex;
  width: 83.5vw;
  justify-content: flex-end;
  margin: 20px;
}